<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Hi
        <%= @user.email %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
    <h3>Your Tweets are - <%= @user.microposts.count %></h3>
    <% end %>
    <%= link_to 'Add Tweets', new_micropost_path %>
    <%= link_to 'My Profile', new_profile_path %>
    <%= link_to 'see your tweets', microposts_path %>
  </div>
  <div>
    <div>
      <a href="<%= following_user_path(@user) %>">   
        <%= @user.following.count %>
        following
      </a>
    </div>
    <div>
      <a href="<%= followers_user_path(@user) %>">
        <%= @user.followers.count %>
        followers
      </a>
    </div>
  </div>
  
  <div>
    <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
    <% else %>
    <%= render 'follow' %>
    <% end %>
  </div>
</div>
